@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}

@layer base {
  :root {
    --color-bg: 227 227 227;
    --color-primary: 47 164 184;
    --color-secondary:255 255 255;
    --color-ascent1: 10 20 30;
    --color-ascent2: 89 91 100;
    --color-blue: 4 128 252;
    --color-white: 255 255 255;
    --color-red: 255 5 145;
    --color-hovercolor: 0 248 255;
    --color-shadowcolor: 77 208 255;
    --color-bg2: 255 255 255;
    

  }
  /* //15 23 42  21 30 49*/
  [data-theme="dark"] {
     --color-bg: 38 48 61;
     --color-primary: 10 20 30;
    --color-secondary: 47 45 48;
    --color-ascent1: 255 255 255;
    --color-ascent2: 164 161 162;
    --color-blue: 4 128 252;
    --color-white: 255 255 255;
    --color-red: 255 5 145;
    --color-hovercolor: 31 31 31;
    --color-shadowcolor: 39 47 126;
    --color-bg2: 10 20 30;



  }
}



